<!DOCTYPE html>
<html>
  <%- include('../partials/head') %> 
  <body>
    <%- include('./partials/header') %>
<main>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Patente</th>
            <th scope="col">Año</th>
            <th scope="col">Color</th>
            <th scope="col">Kilometraje</th>
            <th scope="col">Vendido</th>
            <th scope="col">Precio</th>
            <th scope="col">Cuotas</th>

          </tr>
        </thead>
        <tbody>
            <% autos.forEach(auto => {%> 
          <tr>
            <th scope="row"><%= auto.id %></th>
            <td><%= auto.marca %></td>
            <td><%= auto.modelo %></td>
            <td><%= auto.patente %></td>
            <td><%= auto.anio %></td>
            <td><%= auto.color %></td>
            <td><%= auto.km %></td>
            <td><div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" <%= auto.vendido ? 'checked' : null  %>  disabled>
            </div></td>
            <td>$<span class="text-end"><%= auto.precio %></span> </td>
            <td><%= auto.cuotas %></td>
            <td><%= auto.cuotas %></td>
            <td class="d-flex justify-content-around flex-wrap">
              <a href="/products/detail/<%= auto.id %> " class="btn btn-sm btn-primary"><i class="fa-solid fa-eye"></i></a>
              <a href="/products/edit/<%= auto.id %> " class="btn btn-sm btn-sucess p-2"><i class="fa-solid fa-pen-to-square"></i></a>
              <form action="/products/delete/<%= auto.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-sm btn-danger" style="width: 30px"><i class="fa-regular fa-trash"></i></button>
            </form>              
            </td>

          </tr>
          <% }) %> 
        </tbody>
      </table>
</main>
<%- include('../partials/footer') %>

  </body>
</html>